{{!
---
component: accordion
---
}}

<div class="c-accordion{{#if options.settings.contextClass}}--{{options.settings.contextClass}}{{else}}--default{{/if}}{{#if options.settings.classes}} {{options.settings.classes}}{{/if}}"
     data-css="c-accordion" data-js-module="accordion"{{#if options.settings.jsOptions}} data-js-options='{
     {{#each options.settings.jsOptions}}"{{jsKey}}": {{#unless jsObject}}"{{/unless}}{{{jsValue}}}{{#unless jsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'{{/if}}>
	{{{yield}}}
</div>