{{! ---
component: c-accordion__item
============================================

Requirements:
- (only hbs)

Options:
- headline {String} - The title of the item, used as "click button"
- id {String} - A unique identifier
- position {number} - A number describing the order of the item inside the accordion in the markup

--- }}


<h3 class="accordion__title" id="accordion-{{options.id}}-tab" aria-controls="{{options.id}}-panel" role="tab" tabindex="{{#isnt options.position 1}}-1{{else}}0{{/isnt}}" data-js-atom="trigger">{{options.headline}}
</h3>

<div class="accordion__content" id="{{options.id}}-panel" aria-labelledby="accordion-{{options.id}}-tab" role="tabpanel" data-js-atom="panel">
	{{{yield}}}
</div>